# General 
*.exe
desktop.ini
*.png # Maybe

# QProp Model
propfile
motorfile
QuadrotorModel/

# MATLAB 
*.asv
propfile
*.mat
*.fig
*.png
propfile
propfile
propfile
propfile
propfile
propfile
propfile
propfile
Saved Workspaces/results_bad
