# General 
*.exe
desktop.ini
*.png # Maybe

# QProp Model
propfile
motorfile
QuadrotorModel/

# MATLAB 
*.asv
propfile
*.mat
*.fig
*.png
propfile
propfile
propfile
propfile
propfile
propfile
propfile
propfile
Saved Workspaces/results_bad
Saved Plots/GA Results Set/GAProcessing.m
*.eps
Saved Plots/Results/GAProcessing.m
Saved Plots/Results/Monte Carlo Results Set/Monte Carlo Results.txt
Saved Plots/Results/MAS Results Set - L/L Results.txt
Saved Plots/Results/MAS Results Set/MASResults.txt
Saved Plots/Results/HoverTime.m
main.m
