# General crap
*.exe
desktop.ini
*.png # Maybe

# QProp crap
propfile
motorfile

# MATLAB crap
*.asv
propfile
*.mat
*.fig
*.png
propfile
propfile
propfile
propfile
propfile
propfile
propfile
propfile
uav_plots.m
run_experiment.m
